@import "reset";
@import "assets";
@import "mixins";
@import "typography";
@import "flex";
@import "layout";


* {
  box-sizing: border-box;
}

:root {
  @include font-sans-serif();

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

