@import "../../styles/main";

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  @include font-sans-serif();


  .theme-switch {
    border: none;
    background-color: inherit;
    width: 60px;
    height: 20px;
    //background-size: 40px 20px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &.light {
      background-image: url("src/ressources/images/icon-theme-light.svg");
    }

    &.dark {
      background-image: url("src/ressources/images/icon-theme-dark.svg");
    }

  }
  

  .app-icon {
    background-image: url("src/ressources/images/logo.svg");
    width: 34px;
    height: 38px;
  }


  .font-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color:$color-black;
    width:200px;
    
    .arrow-up {
      background-image: url("src/ressources/images/icon-arrow-down.svg");
      transform:rotateZ(180deg);
      height:8px;
      width:15px;
      margin-left: 20px;
      transition: transform 0.1s ease-in-out;
      
    }
    
    .arrow-down {
      background-image: url("src/ressources/images/icon-arrow-down.svg");
      height:8px;
      width:15px;
      transition: transform 0.1s ease-in-out;
    }
    
    .Dropdown-control {
      width:100%;
      
      display:flex;
      align-items: center;
      justify-content: space-between;
      
      white-space: nowrap;

      border:none;
      cursor:pointer;
      
      &:hover {
        box-shadow:none;
      }
      
    }
    
    .Dropdown-option.is-selected {
      background-color: inherit;
      font-weight: 700;
    }
    
    .Dropdown-option:hover {
      background-color: $color-gray-6;
    }
    
    .Dropdown-menu  {
      border:none;
      border-top: solid 1px $color-gray-5;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    
  }

  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & > *:not(:last-of-type) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: solid 1px $color-gray-4;

    }

  }


}

.dark {
  .header-bar {
    .font-picker {
      .body-m {
        color: $color-gray-5;
      }

    }
  }
  
  .font-picker {
    
    .Dropdown-control {

      color:$color-white;
      background-color: $color-black;
    }
  }

}
