@import 'styles/main';

.app {


  .main-container {
    max-width: 750px;
    min-width: 375px;
    padding: 60px 20px 20px 20px;
    margin: auto;
    
  }
  
  @media (max-width: $small-device) {
    .main-container {
      padding:20px;
    }
  }
}


.light {
  background-color: $color-white;
  color: $color-black;
}


.dark {
  background-color: $color-black;
  color: $color-white;
}
